node-Red/node-red-script.txt
[{"id":"7567b81d.686118","type":"tab","label":"Flow 1"},{"id":"ac309140.c8e6b8","type":"http in","z":"7567b81d.686118","name":"","url":"/compute","method":"post","upload":false,"swaggerDoc":"","x":285,"y":158,"wires":[["45af377f.24751","f86f8808.370c48","fdb1679.5ea2e98"]]},{"id":"45af377f.24751","type":"debug","z":"7567b81d.686118","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":710,"y":160,"wires":[]},{"id":"944718a2.958308","type":"cloudant out","z":"7567b81d.686118","name":"","cloudant":"a6a57771.503ce8","database":"vehicle_manufacturedb","service":"_ext_","payonly":false,"operation":"insert","x":710,"y":240,"wires":[]},{"id":"ecdcf72a.9b86","type":"websocket in","z":"7567b81d.686118","name":"","server":"","client":"2c97f0f0.934d5","x":320,"y":400,"wires":[["7382c07f.68c9c8"]]},{"id":"7382c07f.68c9c8","type":"debug","z":"7567b81d.686118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":360,"wires":[]},{"id":"9c460077.1bbec","type":"websocket in","z":"7567b81d.686118","name":"","server":"bce1bbb1.12ec4","client":"","x":330,"y":460,"wires":[["7382c07f.68c9c8"]]},{"id":"f86f8808.370c48","type":"http response","z":"7567b81d.686118","name":"","statusCode":"","headers":{},"x":670,"y":80,"wires":[]},{"id":"fdb1679.5ea2e98","type":"function","z":"7567b81d.686118","name":"","func":"var orderId = msg.payload.orderId;\nvar orderStatus = msg.payload.orderStatus;\nmsg.payload = {\"orderId\" : orderId , \n       \"orderStatus\": orderStatus};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["944718a2.958308","45af377f.24751"]]},{"id":"a6a57771.503ce8","type":"cloudant","z":"","host":"cbe4b834-4a92-4b58-b48d-86d4da453894-bluemix.cloudant.com","name":"nodered"},{"id":"2c97f0f0.934d5","type":"websocket-client","z":"","path":"ws://localhost:3000","tls":"","wholemsg":"false"},{"id":"bce1bbb1.12ec4","type":"websocket-listener","z":"","path":"ws://localhost:3000","wholemsg":"false"}]
